<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | eCommerce</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="https://kit.fontawesome.com/02bc901fa9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    {% block css %}{% endblock css %}
</head>

<body>
    <header class="container-fluid border-bottom pt-2" style="background-color: rgb(60, 120, 0);">
        <div class="row px-2 py-1 d-flex align-items-center justify-content-between">
            <div class="col-3">
                <a href="{% url 'core:index' %}" style="text-decoration: none; color: black;">
                    <img src="{% static 'core/img/ecom.png' %}" alt="eCommerce icon" style="width: 50px;">
                    eCommerce
                </a>
            </div>

            <!-- search input form -->
            <div class="col-6">
                <form action="{% url 'core:index' %}" method="get">
                    {% csrf_token %}
                    <div class="d-flex flex-colum input-group">
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                        <button type="reset" class="input-group-append btn btn-outline bg-white border border-0" style="color: red;">
                            <span>X</span>
                        </button>
                        <button class="input-group-append btn btn-outline-secondary bg-white border-start-1 border ms-n5" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- navbar -->
        <div class="row container-fluid align-items-center justify-content-between py-1 px-2">
            <!-- navbar menu -->
            <nav class="col navbar justify-content-evenly">
                <div class="nav-item dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffe600;">
                        Categorias
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color: rgb(80, 165, 0);">
                        {% for category in categories%}
                        <li class="list-unstyled p-1">
                            <a href="#" class="text-dark" style="text-decoration: none;">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="#" style="text-decoration: none; color: #ffe600;">Historial</a>
                <a href="#" style="text-decoration: none; color: #ffe600;">Ayuda</a>
                <a href="{% url 'items:publicar' %}" style="text-decoration: none; color: #ffe600;">Vender</a>
            </nav>

            <!-- navbar user -->
            <nav class="col navbar justify-content-evenly">
                {% if user.is_authenticated %}
                <!-- user_detail -->
                <div class="nav-item dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'core/img/avatar-profile.png' %}" alt="avatar icon"
                            class="rounded-circle p-1" style="width: 35px;">
                        <span>{{ user|title }}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuUser" style="background-color: rgb(80, 165, 0);">
                        <li class="list-unstyled p-1">
                            <a href="#" style="text-decoration: none; color: black;">Mis compras</a>
                        </li>
                        <li class="list-unstyled p-1">
                            <a href="{% url 'logout' %}" style="text-decoration: none; color: #000000;">
                                Logout
                                <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff0000;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Favoritos -->
                <div class="nav-item dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownFavorite" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: black;">
                        Favoritos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFavorite" style="background-color: rgb(80, 165, 0);">
                        <li class="list-unstyled p-1">
                            <a href="#" style="text-decoration: none; color: black;">Favorito1</a>
                        </li>
                        <li class="list-unstyled p-1">
                            <a href="#" style="text-decoration: none; color: black;">Favorito1</a>
                        </li>
                        <li class="list-unstyled p-1">
                            <a href="#" style="text-decoration: none; color: black;">Favorito1</a>
                        </li>
                    </ul>
                </div>

                <!-- Publicaciones del usuario -->
                <a href="{% url 'items:mis_publicaciones' %}" style="text-decoration: none; color: #000000;">Mis Publicaciones</a>

                <a href="#" style="text-decoration: none; color: black;">
                    <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-danger">Ingresar</a>
                {% endif %}
            </nav>
        </div>
    </header>


    {% block content %}{% endblock %}

    {% include "core/footer.html" %}

    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function open_login(url){
            $('#login').load(url, function (){
                $(this).modal('show');
            });
        }
    </script>
</body>

</html>