<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | eCommerce</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="https://kit.fontawesome.com/02bc901fa9.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{% static 'core/css/card.css'%}">  -->
    {% block css %}{% endblock css %}
</head>

<body>
    <header class="container-fluid border-bottom pt-2" style="background-color: rgb(60, 120, 0);">
        <div class="row px-2 py-1 d-flex align-items-center justify-content-between">
            <div class="col-3">
                <a href="{% url 'core:index' %}" style="text-decoration: none; color: black;">
                    <img src="{% static 'core/img/ecom.png' %}" alt="eCommerce icon" style="width: 50px;">
                    eCommerce
                </a>
            </div>

            <!-- search input form -->
            <div class="col-6">
                <div class="input-group">
                    <input class="form-control border-end-0 border" type="search" placeholder="search"
                        id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-start-0 border ms-n5" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <!-- navbar -->
        <div class="row container-fluid align-items-center justify-content-between py-1 px-2">
            <!-- navbar menu -->
            <nav class="col navbar justify-content-evenly">
                <div class="nav-item dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: gray;">
                        Categorias
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for category in categories%}
                        <li class="list-unstyled p-1">
                            <a href="#" style="text-decoration: none;">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="#" style="text-decoration: none; color: gray;">Historial</a>
                <a href="{% url 'items:publicar' %}" style="text-decoration: none; color: gray;">Vender</a>
                <a href="#" style="text-decoration: none; color: gray;">Ayuda</a>
            </nav>
            <!-- navbar user -->
            <nav class="col navbar justify-content-evenly">
                <a href="#" style="text-decoration: none; color: black;">Registrate</a>
                <!-- Button trigger modal login -->
                <button type="submit" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#login"
                    style="text-decoration: none; color: black;">
                    Ingresá
                </button>
                <!-- Modal -->
                <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ingreá con tu cuenta</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Form login
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Ingresar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} user nav {% endcomment %}
                <div class="nav-item p-1">
                    <a href="#" style="text-decoration: none; color: black;">
                        <img src="{% static 'core/img/avatar-profile.png' %}" alt="avatar icon" class="rounded-circle"
                            style="width: 35px;">
                        <span>User</span>
                    </a>
                </div>

                <a href="#" style="text-decoration: none; color: black;">Mis compras</a>

                <div class="nav-item dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: black;">
                        Favoritos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for category in categories%}
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" style="text-decoration: none; color: black;">
                    <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                </a>
            </nav>
        </div>
    </header>


    {% block content %}{% endblock %}


    {% include "core/footer.html" %}
</body>

</html>