{% extends 'core/base_2.html'%}

{% block title %}Contacto{% endblock %}    

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 my-2 border rounded shadow-sm">
                <form id="contact-form" name="contact-form" action="" method="POST">
                    {% csrf_token %} {{ form.as_p }}
                    <div class="text-center m-2">
                        <button type="reset" class="btn btn-danger mx-2">Borrar datos</button>
                        <button type="submit" class="btn btn-primary mx-2">Enviar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}