<footer class="row container-fluid border-top mx-0 p-3" style="background-color: rgb(80, 165, 70); max-height: 30rem;">
    <div class="col p-2">
        <h3>Nosotros</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col p-2">
        <ul>
            <li class="list-unstyled">
                <a href="{% url 'core:contact' %}" style="text-decoration: none;">Contacto</a>
            </li>
            <li class="list-unstyled">
                <a href="#" style="text-decoration: none;">Términos de uso</a>
            </li>
            <li class="list-unstyled">
                <a href="#" style="text-decoration: none;">Política de privacidad</a>
            </li>
        </ul>
    </div>
</footer>