<footer class="container-fluid row border-top my-2">
    <div class="col p-2">
        <h3>Nosotros</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col p-2">
        <ul>
            <li class="list-unstyled">
                <a href="{% url 'core:contact' %}" style="text-decoration: none;">Contacto</a>
            </li>
            <li class="list-unstyled">
                <a href="#" style="text-decoration: none;">Términos de uso</a>
            </li>
            <li class="list-unstyled">
                <a href="#" style="text-decoration: none;">Política de privacidad</a>
            </li>
        </ul>
    </div>
</footer>