{% extends 'core/base.html'%}

{% block title %}Bienvenidos{% endblock %}

{% block content %}
    <!-- Contenedor de los productos disponibles -->
    <div class="container-fluid justify-content-centerp-2 bg-secondary">
        <div class="row container justify-content-center p-2">
        {% if object_list %}
            {% for item in object_list %}
                <div class="card col mx-4 shadow rounded" style="max-width: 300px;">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ item.images.url }}" class="img-fluid" style="width: 200px;"/>
                        <a href="{% url 'items:detail' item.id %}" class="card-link stretched-link"></a>
                    </div>
                    {% comment %}<div class="card-header" style="font-size: smaller;">{{ item.created_at|date:"d-m-Y" }}</div>{% endcomment %}
                    <div class="card-header" style="font-size: smaller;">{{ item.category }}</div>
                    <div class="card-body">
                        <h4 class="card-text"><span>${{ item.price }}</span></h4>
                        <div class="card-title text-truncate">{{ item.title }}</div>
                    </div>
                    <p class="card-footer">Publicado por: <b>{{item.created_by}}</b></p>
                </div>
            {% endfor %}
        {% else %}
            <h4>No hay artículos publicados.</h4>
        {% endif %}
        
        </div>
    </div>
{% endblock %}