{% extends 'core/base.html' %}


{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="row border rounded shadow-lg m-5 p-3">
<!-- Imagen principal y galería vertical -->
    <div class="col-6">
        <img src="{{ item.images.url }}" class="img-fluid" style="width: 400px;"/>
    </div>
    <!-- categoria, título, descripción -->
    <div class="col-4 border-start">
        <h4>{{item.title}}</h4>
        <h3 class="pt-3">$ {{item.price}}</h3>
        <div class="pt-3">
            <span><b>Descripción</b></span>
            <div>{{item.description|linebreaksbr}}</div>
        </div>
    </div>
    <!-- condición, vendedor, contacto , precio , btn-comprar-->
    <div class="col-2 border-start">
        <!-- condición -->
        <div class="pb-3">
            {% if item.condition %}
            <span>Artículo: <b>nuevo</b></span>
            {% else  %}
            <span>Artículo: <b>usado</b></span>
            {% endif %}
        </div>
        <div class="pb-3">
            <div class="pb-3">Vendedor: <b>{{item.created_by}}</b></div>
            <div>
                <span>Contacto:</span><br>
                <div>
                    <a href="https://wa.me/+54911" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: black;">
                        <i class="fa-brands fa-whatsapp" style="color: #25d37a;"></i><b> +5490303456</b>
                    </a>
                </div>
                <div>
                    <a href="mailto:pepito.verdulero@narnia.yo" style="font-size: .8rem;">Envir email</a>
                </div>
            </div>
        </div>
        <div class="d-grid">
            <button type="button" class="btn btn-success btn-block">COMPRAR</button>
        </div>
    </div>
</div>

<div class="container m-4 bg-white">
    <h4>Artículos Relacionados</h4>
    <div class="row">
        {% for item in related_items %}
            <div class="card mx-4 shadow rounded" style="max-width: 200px;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{ item.images.url }}" class="img-fluid" style="width: 150px;"/>
                    <a href="{% url 'items:detail' item.id %}" class="card-link stretched-link"></a>
                </div>
                <div class="card-header" style="font-size: smaller;">{{ item.category }}</div>
                <div class="card-body">
                    <h4 class="card-text"><span>${{ item.price }}</span></h4>
                    <div class="card-title text-truncate">{{ item.title }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}