{% extends "core/base_2.html" %}

{% block title %}Editando {{item.title}}{% endblock title %}

{% block content %}
    <div class="container m-4">
		<h3>Editando Artículo ({{item.pk}}) {{item.title}}</h3>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{message}}
            </div>
        {% endfor %}
        <form method="post" enctype="multipart/form-data" class="form-group p-2">
            {% csrf_token %}
            <div class="form-control">
            {% for field in form %}
                <span class="control-label">{{ field.label }}</span>
                <p>{{ field }}</p>               
            {% endfor %}
                <button type="submit" class="btn btn-success p-3 m-3">Guardar</button>
            </div>
        </form>
    </div>
{% endblock %}